<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="apichaining.Users_Create"/>
      <class name="apichaining.Users_Get"/>
      <class name="apichaining.Users_Update"/>
	  <class name="apichaining.Users_Delete"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
